[submodule "frontend"]
	path = frontend
	url = https://github.com/hungnt0104/web-enterprise-group2-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/hungnt0104/web-enterprise-group2-backend.git
